<div class="jumbotron jumbotron-fluid">
  <div class="col d-flex flex-column">
    <div class="container">
      <h1 class="display-4 title">Find Your Next Favorite Spot</h1>
      <h3 class="subtitle">Stop relying on word of mouth to find stunning views in Jordan.</h3>
    </div>
    <div class="container h-50">
    </div>
    <div class="container">
      <form class="form-inline active-cyan-4">
        <%= link_to "Find Nearby", stunning_views_path(ip:"90.84.73.13"), class: "btn btn-primary btn-md btn-info main mr-2" %>
        <h5 class="mr-2"><strong>or start with a city:</strong></h5>
        <input class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Search"
          aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>
    </div>
  </div>
</div>